# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\squal\Dropbox\Engenharia Informatica\Projetos\PYTHON\TI\Ficha Final - Codecs\TI Codecs Program\CALIC\calic\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
